@page "/"
@using BlazorProductShowcase.Data

<h3>Products List</h3>

<div class="product-list">
    @foreach (var product in ProductData.ProductsList)
    {
        <div class="product-card">
            <h4>@product.ProductName</h4>
            <p>@product.DeliveryOn.ToShortDateString()</p>
            <p>Price: @product.UnitPrice.ToString("C2")</p>
        </div>
    }
</div>

<style>

    .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .product-card {
        border: 1px solid #ccc;
        padding: 15px;
        width: 250px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

        .product-card:hover {
            transform: translateY(-5px);
        }

        .product-card img {
            max-width: 100%;
            height: auto;
        }

    h4 {
        margin: 10px 0;
    }

    .price {
        font-weight: bold;
    }

    .stock-status {
        font-weight: bold;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        text-align: center;
        width: fit-content;
    }
</style>